* {
  box-sizing: border-box;
}
body {
  width: 80%;
  font-family: "Roboto", sans-serif;
  margin: auto;
  border: solid rgb(255, 19, 19) 1px;
  background-color: #bbb4ab;
}
header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;

  font-size: 2rem;
  background-color: #b4abbb;
  padding: 20px;
}
nav {
  float: right;
  text-transform: uppercase;
  text-decoration: none;
}
main {
  background-color: #abbbb4;
  min-height: 100vh;
  padding: 80px 10px;
  box-shadow: 5px 5px 5px #a59cac;
}
img {
  width: 100%;
  object-fit: contain;
}
footer {
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 -2px 4px -2px black;
  background-color: #b4abbb;
}
